# EECS 731 Final Project - Clothing One
## Classification

In [1]:
import pandas as pd
import pickle

In [2]:
reviews = pickle.load(open("../Data/reviews.pkl", "rb" ))
rented_for_encoding = pickle.load(open("../Data/rented_for_encoding.pkl", "rb"))
body_type_encoding = pickle.load(open("../Data/body_type_encoding.pkl", "rb"))
category_encoding = pickle.load(open("../Data/category_encoding.pkl", "rb"))

In [3]:
reviews.head()

,age,body_type,category,fit,height,item_id,rating,rented_for,review_date,size,user_id,weight,bust_volume,bust_height
0,28,3,44,fit,68.0,2260466,10,6,2016-04-20,14,420272,137,590,4
1,36,6,20,fit,66.0,153475,10,3,2013-06-18,12,273551,132,390,2
2,34,4,16,fit,65.0,126335,8,2,2014-02-12,8,909926,135,480,3
3,27,1,20,fit,69.0,616682,10,7,2016-09-26,12,151944,145,390,2
4,45,1,16,fit,68.0,364092,8,0,2016-04-30,8,734848,138,310,2

In [4]:
rented_for_encoding.head()

               encoding
labels
date                  0
everyday              1
formal affair         2
other                 3
party                 4

In [5]:
body_type_encoding.head()

           encoding
labels
apple             0
athletic          1
full bust         2
hourglass         3
pear              4

In [6]:
category_encoding.head()

          encoding
labels
ballgown         0
blazer           1
blouse           2
blouson          3
bomber           4

In [7]:
# import sys
# !{sys.executable} -m pip install xgboost

In [8]:
#Necessary imports
from sklearn.ensemble import RandomForestClassifier #Decision Tree Classifier
from sklearn.model_selection import train_test_split # can split data into test test & train set
from sklearn import metrics # Can calculate how accurrate our model is
from sklearn import preprocessing
from sklearn.neural_network import MLPClassifier
import xgboost as xgb

In [9]:
# removed user_id so we couldn't bank on history
# TODO: auto ml nn?
X = reviews[['age', 'body_type', 'category', 'height', 'item_id', 'rented_for', 'size', 'weight', 'bust_volume', 'bust_height']]
Y = reviews['fit']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

#Create Decision Tree and neural network classifer object
rf = RandomForestClassifier(n_estimators=100)
gb = xgb.XGBClassifier(random_state=1, learning_rate=.1)
# nn = MLPClassifier()

# Train Decision Tree and neutral network Classifer
rf = rf.fit(X_train, Y_train)
gb.fit(X_train, Y_train)
# nn = nn.fit(X_train, Y_train)

#Predict the response for test dataset
rf_y_pred = rf.predict(X_test)
gb_y_pred = gb.predict(X_test)
# nn_y_pred = nn.predict(X_test)


print("Random Forest Accuracy:",metrics.accuracy_score(Y_test, rf_y_pred))
print("Gradient Boosting Accuracy:",metrics.accuracy_score(Y_test, gb_y_pred))
# print("Neural Network Accuracy:",metrics.accuracy_score(Y_test, nn_y_pred))

Random Forest Accuracy: 0.730880896266694
Gradient Boosting Accuracy: 0.7357311199918024

In [10]:
import numpy as np
importances = pd.DataFrame(rf.feature_importances_, index = X_train.columns, columns =['importance']).sort_values('importance', ascending=False)
# indices = np.argsort(importances)[::-1]
importances
# # Print the feature ranking
# print("Feature ranking:")

# for f in range(X_train.shape[1]):
#     print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

             importance
item_id        0.246379
age            0.156265
weight         0.125409
height         0.116699
rented_for     0.068556
body_type      0.064920
bust_volume    0.060663
bust_height    0.060558
size           0.058584
category       0.041968

In [11]:
# TODO: run rf on specific item_id to see if size is more important
maxReviews = max(reviews.groupby('item_id').size())



asdf

NameError: name 'asdf' is not defined