# EECS 731 Final Project - Clothing One
## Classification

In [1]:
import pandas as pd
import pickle

In [2]:
reviews = pickle.load(open("../Data/reviews.pkl", "rb" ))
rented_for_encoding = pickle.load(open("../Data/rented_for_encoding.pkl", "rb"))
body_type_encoding = pickle.load(open("../Data/body_type_encoding.pkl", "rb"))
category_encoding = pickle.load(open("../Data/category_encoding.pkl", "rb"))

In [3]:
reviews.head()

,age,body_type,category,fit,height,item_id,rating,rented_for,review_date,size,user_id,weight,bust_volume,bust_height
0,28,3,44,fit,68.0,2260466,10,6,2016-04-20,14,420272,137,590,4
1,36,6,20,fit,66.0,153475,10,3,2013-06-18,12,273551,132,390,2
2,34,4,16,fit,65.0,126335,8,2,2014-02-12,8,909926,135,480,3
3,27,1,20,fit,69.0,616682,10,7,2016-09-26,12,151944,145,390,2
4,45,1,16,fit,68.0,364092,8,0,2016-04-30,8,734848,138,310,2

In [4]:
rented_for_encoding.head()

               encoding
labels
date                  0
everyday              1
formal affair         2
other                 3
party                 4

In [5]:
body_type_encoding.head()

           encoding
labels
apple             0
athletic          1
full bust         2
hourglass         3
pear              4

In [6]:
category_encoding.head()

          encoding
labels
ballgown         0
blazer           1
blouse           2
blouson          3
bomber           4